.sc1{
    height:100vh;
    border:1px solid black;
    border-radius: 10px;
    width:26%;
    margin :auto;
    margin-top: 3vh;
    background-color: white;
}
.sc1>h1{
    font-size: 2.3rem;
    margin-left: 5vh;
    font-weight: 600;
    margin-top: 0.5vh;
}
.sc1>p{
    color:rgb(122, 122, 122);
    font-weight: 500;
    margin-top:1vh ;
    font-size: 1.04rem;
}